$yellow:yellow;
$red:red;
$green:green;


@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color:$red;
    @include margenes(50px,0px );
}


.card-productos {
    flex: 1 200px;
    padding: 2px 25px 20px 25px;
    @include margenes(20px,0px );
    border:  solid 1px;
    border-radius: 15px;
}
.footer {
    padding: 10px 10px 0  10px;
    background-color: $yellow;
    @include margenes(20px,0px );
    color: black;
}

.btn-reserva {
    width: 100%;
    border-radius: 10px;
}

.carousel-indicators li {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 28px;
    height: 28px;
    margin: 10px;
    background-color: #ffff99;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}